.container{
  font-size: 60px;
  color: red;
  display: flex;
  justify-content: center;
}
.content{
  display: flex;
  justify-content: center;
text-align: center;
}
.button{
padding: 10px;
background-color: blue;
  color: white;
  border-style: none;
    border-radius: 10px;

}